@import "../node_modules/bulma/bulma.sass";
@import "./animation";
@import "./library";
@import "./tags-list";
@import "./app-details";

body,
html {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.curved {
  border-radius: 6px;
}

.fill {
  width: 100%;
  height: 100%;
}

.flex-fill {
  flex: 1;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns {
  margin: 0;
}

.modal {
  z-index: 100;
}

.header {
  position: relative;
  -webkit-app-region: drag;

  display: flex;
  padding: 11px;
  background: #333;
  color: #ddd;

  border-bottom: 1px solid #555;
  height: 60px;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 1);
  z-index: 1;

  .title {
    margin-left: 20px;
    color: inherit;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    margin-right: 20px;
    max-width: 80%;
    overflow: hidden;
  }

  .button {
    -webkit-app-region: no-drag;
  }

  .window-actions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
  }

  .close-button {
    position: relative;
    margin: 10px;

    cursor: pointer;

    width: 20px;
    height: 20px;

    transition: width 150ms, height 150ms, margin 150ms;

    &:hover {
      width: 30px;
      height: 30px;
      margin: 5px;
    }

    &:focus,
    &:active {
      opacity: 0.8;
    }

    svg {
      display: block;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  .body {
    position: relative;
    flex: 1;
  }
}

.body {
  display: flex;

  .tags-display {
    box-sizing: border-box;
    height: 100%;
    transition: width 150ms;
    border-right: 1px solid #ddd;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.62);
  }

  .library-view {
    position: relative;
    flex: 1;
  }
}

.tag.is-delete {
  cursor: pointer;
}

.tags .tags {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.header {
  .title {
    flex: 1;
  }

  .search-box {
    -webkit-app-region: no-drag;
    margin-right: 80px;

    input {
      background-color: transparent;
      color: #dbdbdb;
      box-shadow: inset 0 1px 8px #555;

      &::placeholder {
        color: #dbdbdb;
        opacity: 0.6;
      }
    }
  }
}

.carousel {
  position: relative;
  border-bottom: 2px solid #333;

  .fade {
    font-size: 0;
  }
}

.shadow-scroll {
  box-shadow: inset 0px 0px 75px 0px rgba(0, 0, 0, 0.62);
}

.dropdown-trigger .button {
  margin-bottom: 0;
}

.buttons .dropdown {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.editing-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 1);
}
