@import "../node_modules/bulma/bulma.sass";

.library-view {
  background-image: linear-gradient(
    to right top,
    #154690,
    #0079c2,
    #00a8bb,
    #00d07d,
    #a8eb12
  );
}

.game-thumbnail {
  display: inline-flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 184px;
  margin: 5px;
  color: #333;
  overflow: hidden;
  border-radius: 6px;

  cursor: pointer;

  &:hover {
  }

  &:focus,
  &:active {
    opacity: 0.8;
  }

  .image-container {
    width: 184px;
    height: 69px;

    background: url(../assets/error-outline.svg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #bbb;
  }

  .game-name {
    display: inline-block;
    width: 184px;
    height: 35px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ddd;
    padding: 0 4px;
  }
}
